.volca.bass {
  background-image: image_url('VolcaBass-small.jpg');

  .eg {
    top: 11.15%
  }

  #attack {
    left: 33.3%;
  }

  #decay_release {
    left: 42.2%;
  }

  #cutoff_eg_int {
    left: 51.2%;
  }

  #octave {
    left: 2.8%;
    top: 32.5%;
  }

  #cutoff {
    top: 28.8%;
    left: 25%;
  }

  #peak {
    top: 32.45%;
    left: 14.6%;
  }

  .lfo {
    top: 32.4%;
  }

  #lfo_rate {
    left:39.6%;
  }

  #lfo_int{
    left: 50.9%;
  }

  .vco {
    top: 35.2%;
  }

  #vco1_pitch {
    left: 61.3%;
  }

  #vco2_pitch {
    left: 70.3%;
  }

  #vco3_pitch {
    left: 79.3%;
  }

  #vco1_active_button {
    left: 61.5%;
  }

  #vco2_active_button {
    left: 70.6%;
  }

  #vco3_active_button {
    left: 79.6%;
  }

  #volume {
    left: 87%;
    top: 32.2%;
  }
}

@media (min-width: 440px) {
  .volca.bass {
    background-image: image_url('VolcaBass-medium.jpg');
  }
}

@media (min-width: 768px) {
  .volca.bass {
    .eg {
      top: 14.15%;
    }

    #attack {
      left: 34.875%;
    }

    #decay_release {
      left: 43.9%;
    }

    #cutoff_eg_int {
      left: 52.915%;
    }

    #octave {
      left: 4.4%;
      top: 35%;
    }

    .lfo {
      top: 35%;
    }

    #lfo_rate {
      left:41.25%;
    }

    #lfo_int{
      left: 52.5%;
    }

    .vco {
      top: 37.2%;
    }

    #vco1_pitch {
      left: 62.9%;
    }

    #vco2_pitch {
      left: 71.9%;
    }

    #vco3_pitch {
      left: 80.9%;
    }

    #cutoff {
      top: 31.5%;
      left: 26.5%;
    }

    #peak {
      top: 35%;
      left: 16.25%;
    }

    #volume {
      left: 88.7%;
      top: 35%;
    }
  }
}

#mobile-keyboard {
  position: relative;
  background: #bbb;
  width: 100%;
  max-width: 829px;
  min-height: 150px;

  .top {
    top: 6%;
    background: #333
  }
  .bottom {
    top: 53%;
    background: #eee;
  }
  .mobile-control {
    position: absolute;
    height: 41%;
    width: 8.9%;
  }
  .octave-button {
    left: 1%;
    background: green;
    padding: 12px 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  #w {
    left: 15.8%;
  }
  #e {
    left: 25.7%;
  }
  #t {
    left: 45.5%;
  }
  #y {
    left: 55.4%;
  }
  #u {
    left: 65.3%;
  }
  #o {
    left: 85.1%;
  }

  #a {
    left: 10.9%;
  }
  #s {
    left: 20.8%;
  }
  #d {
    left: 30.7%;
  }
  #f {
    left: 40.6%;
  }
  #g {
    left: 50.5%;
  }
  #h {
    left: 60.4%;
  }
  #j {
    left: 70.3%;
  }
  #k {
    left: 80.2%;
  }
  #l {
    left: 90.1%;
  }
}
