%button#pre-game-button.hidden{ type: "button", class: "btn btn-primary btn-lg", data: { toggle: "modal", target: "#pre-game-modal" } }
  Launch demo modal

#pre-game-modal.modal.fade{"aria-labelledby" => "preGameModaLabel", :role => "dialog", :tabindex => "-1", :data => { show: 'true', backdrop: 'static', keyboard: 'false'}}
  #pre-game-modal-dialog.modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button#kem-x-out.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: 'display: none'}
          %span{"aria-hidden" => "true"} ×
        %h2#pre-gameModaLabel.modal-title
          How to play
      #pre-game-modal-body.modal-body.clearfix
        %p.lead
          Welcome to Mystery Patch, the game where you recreate a synth patch by ear.  To start, click the 'Play Mystery Patch' button.  This will start a two minute timer.  Recreate the patch as closely as you can.
        %ul.lead
          %li Accuracy is measured by parameter values: octave and musical notes are irrelevant.
          %li The 'Play Mystery Patch' button plays a C2.
        %p.lead The game is over when time is up or you click "I'm done".  Good luck!
        %button.btn#start-game{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } Got it
