%button#results-button.hidden{ type: "button", class: "btn btn-primary btn-lg", data: { toggle: "modal", target: "#results-modal" } }
  Launch demo modal

#results-modal.modal.fade{"aria-labelledby" => "resultsModaLabel", :role => "dialog", :tabindex => "-1", :data => { show: 'true', backdrop: 'static', keyboard: 'false'}}
  #results-modal-dialog.modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button#kem-x-out.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: 'display: none'}
          %span{"aria-hidden" => "true"} ×
        %h2#resultsModaLabel.modal-title
          Results
        %button.btn#keep-playing{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: 'display: none'} Keep playing with patch
      #results-modal-body.modal-body.clearfix
        #results-container
          #results-table
            %table.table
              %thead
                %tr
                  %th{scope: 'col'} Param
                  %th{scope: 'col'} Correct value
                  %th{scope: 'col'} Your value
                  %th{scope: 'col'} Accuracy (%)
              %tbody

          #results-summary
            #overall-score
            #share-results.share-results{ aria: { live: "polite" } }
              %h3.share-title Share your results

              %p.share-subtitle
                Copy this and paste it on socials
              .share-box
                %textarea#share-text.share-text{ rows: 7, readonly: true, spellcheck: "false" }

                .share-actions
                  %button#copy-results.share-btn{ type: "button" }
                    Copy

                  %span#copy-status.share-status{ role: "status", aria: { live: "polite" } }
