.clearfix
  %h1
    Volca Keys Emulator
    %span.alpha alpha
  = render 'emulators/keys/form'
#new_choice_form{:style => "display: none;"}
  = render partial: 'sequences/keys/emulator'
= render 'keys/patches/knob_debug'
- # TODO: Consider a view specific to mystery patch game
= render 'mystery_patch/results_modal'

