%h1 Synth Patch Namer
%p Need inspiration?  Or maybe you just need a label to slap on a patch you already made?  VolcaShare's new Synth Patch Namer takes all the headaches out of giving your patch an inspiring and memorable name.  Slap the blue button to five it a whirl.
= link_to '#', id: 'synth_name_button' do
  .generate_name
.col-md-12
  #name
.col-sm-6
  = link_to 'Make a bass patch with this name', new_patch_path, id: 'new_bass_patch'
.col-sm-6
  = link_to 'Make a keys patch with this name', new_keys_patch_path, id: 'new_keys_patch'
