%h1 Synth Patch Namer
= link_to 'Gimme a patch name', '#', id: 'synth_name_button'
#name
= link_to 'Make a bass patch with this name', new_patch_path, id: 'new_bass_patch'
= link_to 'Make a keys patch with this name', new_keys_patch_path, id: 'new_keys_patch'
