%h1 Synth Patch Namer
%p Need inspiration?  Or maybe you just need a label to slap on a patch you already made?  VolcaShare's new Synth Patch Namer takes all the headaches out of giving your patch an inspiring and memorable name.  Slap the blue button to give it a whirl.
= link_to '#', id: 'synth_name_button' do
  .generate_name
.col-md-12
  .name-container
    #name.h1
    #links.clearfix
      .link
        = link_to 'Name a keys patch »', new_keys_patch_path, id: 'new_keys_patch'
      .link
        = link_to 'Name a bass patch »', new_patch_path, id: 'new_bass_patch'
