
.field
  = label_tag :name, 'Patch name', class: 'sr-only'
  = text_field_tag 'patch[name]', @patch.name, class: 'form-control-lg col-lg-12', required: true, placeholder: 'Patch name'
#interface.col-lg-9.form
  .stretchy
    .volca.keys
      .small.knob.first-row.vco-column.lit#detune
        .notch
      .small.knob.second-row.vco-column.lit#portamento
        .notch
      .small.knob.third-row.vco-column.lit#vco-eg-int
        .notch
      .small.knob.first-row.vcf-column.lit#cutoff
        .notch
      .small.knob.second-row.vcf-column.lit#peak
        .notch
      .small.knob.third-row.vcf-column.lit#vcf-eg-int
        .notch
      .small.knob.first-row.lfo-column.lit#rate
        .notch
      .small.knob.second-row.lfo-column.lit#pitch-int
        .notch
      .small.knob.third-row.lfo-column.lit#cutoff-int
        .notch
      .small.knob.first-row.eg-column.lit#attack
        .notch
      .small.knob.second-row.eg-column.lit#decay-release
        .notch
      .small.knob.third-row.eg-column.lit#sustain
        .notch
      .knob.dark#voice
        .notch
      .knob.dark#octave
        .notch
      .small.knob.unlit#delay-time
        .notch
