
.field
  = label_tag :name, 'Patch name', class: 'sr-only'
  = text_field_tag 'patch[name]', @patch.name, class: 'form-control-lg col-lg-12', required: true, placeholder: 'Patch name'
#interface.col-lg-9.form
  .stretchy
    .volca.keys
      .small.knob.first-row.vco-column#detune
        .notch
      .small.knob.second-row.vco-column#portamento
        .notch
      .small.knob.third-row.vco-column#vco-eg-int
        .notch
      .small.knob.first-row.vcf-column#cutoff
        .notch
      .small.knob.second-row.vcf-column#peak
        .notch
      .small.knob.third-row.vcf-column#vfc-eg-int
        .notch
      .small.knob.first-row.lfo-column#rate
        .notch
      .small.knob.second-row.lfo-column#pitch-int
        .notch
      .small.knob.third-row.lfo-column#cutoff-int
        .notch
      .small.knob.first-row.eg-column#attack
        .notch
      .small.knob.second-row.eg-column#decay-release
        .notch
      .small.knob.third-row.eg-column#sustain
        .notch
