- if Rails.env.test?
  .knob-debug
    %span.detune
    %span.portamento
    %span.vco_eg_int
    %span.cutoff
    %span.peak
    %span.vcf_eg_int
    %span.lfo_rate
    %span.lfo_pitch_int
    %span.lfo_cutoff_int
    %span.attack
    %span.decay_release
    %span.sustain
    %span.voice
    %span.octave
    %span.delay_time
    %span.delay_feedback
