---
http_interactions:
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxheight=81&url=https://soundcloud.com/69bot/shallow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1edb924656f4a1bc76393a84e300df5e"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":81,"width":"100%","title":"Shallow
        by Sixninebot","description":"","thumbnail_url":"http://i1.sndcdn.com/artworks-000157826429-3kquph-t500x500.jpg","html":"\u003Ciframe
        width=\"100%\" height=\"81\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true\u0026url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F258722704\u0026show_artwork=true\u0026maxheight=81\"\u003E\u003C/iframe\u003E","author_name":"Sixninebot","author_url":"https://soundcloud.com/69bot"}'
  recorded_at: Mon, 26 Dec 2016 23:39:15 GMT
recorded_with: VCR 2.9.3
