---
http_interactions:
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxheight=81&url=https://soundcloud.com/69bot/shallow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1edb924656f4a1bc76393a84e300df5e"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":81,"width":"100%","title":"Shallow
        by Sixninebot","description":"","thumbnail_url":"http://i1.sndcdn.com/artworks-000157826429-3kquph-t500x500.jpg","html":"\u003Ciframe
        width=\"100%\" height=\"81\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true\u0026url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F258722704\u0026show_artwork=true\u0026maxheight=81\"\u003E\u003C/iframe\u003E","author_name":"Sixninebot","author_url":"https://soundcloud.com/69bot"}'
  recorded_at: Fri, 30 Dec 2016 19:03:53 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://youtube.com/watch?v=GF60Iuh643I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"html":"\u003ciframe width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/GF60Iuh643I?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e","thumbnail_height":360,"thumbnail_width":480,"title":"Funny
        Dogs - A Funny Dog Videos Compilation 2015","width":480,"height":270,"type":"video","provider_url":"https:\/\/www.youtube.com\/","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/GF60Iuh643I\/hqdefault.jpg","author_name":"MashupZone","author_url":"https:\/\/www.youtube.com\/user\/mashupzone1","version":"1.0","provider_name":"YouTube"}'
  recorded_at: Fri, 30 Dec 2016 19:04:04 GMT
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxheight=81&url=https://soundcloud.com/69bot/take-it-to-the-streets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d0265bd6b3f7ad96373d93bea8841707"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":81,"width":"100%","title":"Take
        It To The Streets by Sixninebot","description":"","thumbnail_url":"http://i1.sndcdn.com/artworks-000221053503-8g8whq-t500x500.jpg","html":"\u003Ciframe
        width=\"100%\" height=\"81\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true\u0026url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F304736733\u0026show_artwork=true\u0026maxheight=81\"\u003E\u003C/iframe\u003E","author_name":"Sixninebot","author_url":"https://soundcloud.com/69bot"}'
  recorded_at: Fri, 25 Jan 2019 17:22:40 GMT
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&maxheight=81&url=https://soundcloud.com/volcashare/temp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 05 Aug 2019 19:23:02 GMT
recorded_with: VCR 4.0.0
