%footer.footer
  .container.text-muted
    %span.glyphicon.glyphicon-copyright-mark
    ="#{Time.now.year} Sean Barrett"
    %br/
    .small
      This application is not affiliated with Korg Inc. or any related business entities.  The use of the Korg and Volca Bass logos and layout are in reference to the Volca Bass product and do not constitute any approval or endorsement of VolcaShare by Korg.
      = "| Pssst...  Try the #{link_to 'Volca Keys', new_keys_patch_path} feature [beta].".html_safe
