%footer.footer
  .container.text-muted
    %span.glyphicon.glyphicon-copyright-mark
    ="#{Time.now.year} Sean Barrett"
    %br/
    .bmab
      %span
        Like VolcaShare?  Buy me a beer
      %span.bmab-button= link_to image_tag('https://beerpay.io/waterjump/volca-share/badge.svg?style=beer-square'), 'https://beerpay.io/waterjump/volca-share'
    .small
      This application is not affiliated with Korg Inc. or any related business entities.  The use of the Korg and Volca Bass logos and layout are in reference to the Volca Bass product and do not constitute any approval or endorsement of VolcaShare by Korg.
