%svg.keys-musical-typing-icon{ viewBox: '0 0 24 24', role: 'img', 'aria-hidden' => 'true' }
  %rect{ x: '1', y: '2', width: '22', height: '20', rx: '2', class: 'keys-musical-typing-icon-outline' }
  %rect{ x: '2', y: '3', width: '6.75', height: '18', class: 'keys-musical-typing-icon-white' }
  %rect{ x: '8.625', y: '3', width: '6.75', height: '18', class: 'keys-musical-typing-icon-white' }
  %rect{ x: '15.25', y: '3', width: '6.75', height: '18', class: 'keys-musical-typing-icon-white' }
  %rect{
    x: '7',
    y: '3',
    width: '4',
    height: '10',
    rx: '0.75',
    class: 'keys-musical-typing-icon-black'
  }
  %rect{
    x: '13.625',
    y: '3',
    width: '4',
    height: '10',
    rx: '0.75',
    class: 'keys-musical-typing-icon-black'
  }
