.jumbotron
  .container
    %h1 Share your patches with the world
    %p Volca Share is a digital patch sheet tool that makes storing and sharing your patches easier than ever.
    %p
      %a.btn.btn-primary.btn-lg{href: new_patch_url, role: 'button'} Make a Volca Bass patch &raquo;
      %a.btn.btn-primary.btn-lg{href: new_keys_patch_url, role: 'button'} Make a Volca Keys patch &raquo;
.patches
  .col-md-6
    %h2 Bass Patches
    - @patches.each do |patch|
      = render partial: 'shared/patch_card', locals: { patch: patch }
    = link_to "Browse all Bass patches", patches_path
  .col-md-6
    %h2 Keys Patches
    - @keys_patches.each do |patch|
      = render partial: 'shared/keys_patch_card', locals: { patch: patch }
    = link_to "Browse all Keys patches", keys_patches_path
.container
  .row
    .col-md-4
      %h2 What's a Korg Volca?
      %p Korg Volcas are a relatively simple but powerful line of analog synthesizers, released by Korg in 2013.  Known as "gadget-class" synthesizers, their affordability and built-in sequencer helped introduce synthesizers to a wider audience.
      %p
        %a.btn.btn-default{href: 'https://www.korg-volca.com/en/', role: 'button'} More info &raquo;
    .col-md-4
      %h2 Why share patches?
      %p Although relatively simple, the number of parameters on the Volcas enable endless variations in timbre that you can't save and recall later.  Instead of taking a photo of the synth or writing the values down on paper, VolcaShare allows you to save the settings of the Volca for organization and sharing, and even let's you automatically recall parameters via WebMIDI.
    .col-md-4
      %h2 Contribute
      %p VolcaShare is open source and free software, driven strictly by a passion for synthesizers, computing, and community.
      %p
        %a.btn.btn-default{href: 'https://github.com/waterjump/volca-share', role: 'button'} View on GitHub &raquo;
