.jumbotron
  .container
    %h1 Hello, world!
    %p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    %p
      %a.btn.btn-primary.btn-lg{href: '#', role: 'button'} Learn more &raquo;
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 What's a Korg Volca Bass?
      %p The Korg Volca Bass is a relatively simple but powerful fully analog synthesizer, released by Korg in 2013.  Known as a "gadget-class" synthesizer, its affordability and built-in sequencer helped introduce synthesizers to a wider audience.
      %p
        %a.btn.btn-default{href: '#', role: 'button'} View details &raquo;
    .col-md-4
      %h2 Why share patches?
      %p Although relatively simple, the number of parameters on the Volca Bass enable endless variations in timbre.  Volca Share offers a way to manage an share your patch settings, as opposed to settgins hand written on patch sheets like in olden times.
      %p
        %a.btn.btn-default{href: '#', role: 'button'} View details &raquo;
    .col-md-4
      %h2 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{href: '#', role: 'button'} View details &raquo;
