.jumbotron
  %iframe{:frameborder => "0", :height => "370", :src => "https://sketchfab.com/models/aded7346ade140d888bcff2417a062fc/embed?autospin=0.2&autostart=1&preload=1", :width => "1140"}
  .container
    %h1 Share your patches with the world.
    %p Volca Share is a digital patch sheet tool that makes storing and sharing your patches easier than ever.
    %p
      %a.btn.btn-primary.btn-lg{href: new_patch_url, role: 'button'} Start now &raquo;
.container
  .row
    .col-md-4
      %h2 What's a Korg Volca Bass?
      %p The Korg Volca Bass is a relatively simple but powerful fully analog synthesizer, released by Korg in 2013.  Known as a "gadget-class" synthesizer, its affordability and built-in sequencer helped introduce synthesizers to a wider audience.
      %p
        %a.btn.btn-default{href: 'http://www.korg.com/us/products/dj/volca_bass/', role: 'button'} More info &raquo;
    .col-md-4
      %h2 Why share patches?
      %p Although relatively simple, the number of parameters on the Volca Bass enable endless variations in timbre.  Volca Share offers a way to manage and share your patch settings, as opposed to hand writing patch sheets like back in the day.
    .col-md-4
      %h2 Contribute
      %p VolcaShare is open source and free software, driven strictly by a passion for synthesizers, computing, and community.  The contributors to this application are in no way associated with Korg or any related business entities.
      %p
        %a.btn.btn-default{href: 'https://github.com/waterjump/volca-share', role: 'button'} View on GitHub &raquo;
