$aspect: 1800 / 1072 / 100;

.stretchy {
  // NOTE: SMALL size
  .volca.keys {
    background-image: image_url('VolcaKeys-small.jpg');
    .first-row {
      top: 17.7%;
    }
    .second-row {
      top: 29.5%;
    }
    .third-row {
      top: 41.3%;
    }
    .vco-column {
      left: 20.6%;
    }
    .vcf-column {
      left: 30.5%;
    }
    .lfo-column {
      left: 40.2%;
    }
    .eg-column {
      left: 50%;
    }
  }
}

@media (min-width: 440px) {
  .stretchy {
    .volca.keys {
      .dark {
        left: 8.2%;
        width: 7.7%;
        height: percentage(7.7 * $aspect);
        background-color: #333;
        .notch {
          background-color: #ddd;
          height: 23%;
        }
      }

      .bottom-row {
        padding-left: 5%;
        .placeholder {
          float: left;
          height: 100%;
          width: 5.95%;
        }
      }

      #voice {
        top: 20.5%;
      }
      #octave {
        left: 8.2%;
        top: 40.5%;
      }
      #delay-time {
        top: 28.2%;
        left: 62.9%;
      }
      #delay-feedback {
        top: 28.2%;
        left: 71.8%;
      }
      background-image: image_url('VolcaKeys-medium-shopped.jpg');
    }
  }
}
