- if Rails.env.test?
  .knob-debug
    %span.attack
    %span.decay_release
    %span.cutoff_eg_int
    %span.octave
    %span.peak
    %span.cutoff
    %span.lfo_rate
    %span.lfo_int
    %span.vco1_pitch
    %span.vco2_pitch
    %span.vco3_pitch
    %span.slide_time
    %span.expression
    %span.gate_time
    %span.volume
