.container
  %h1 Patches

  .controls
    =link_to 'Submit a patch', new_patch_path
  .patches
    - @patches.each do |patch|
      .wrapper
        =link_to patch do
          .image
        .patch
          =link_to patch.name, patch, { class: :title }
          %br/
          .description= patch.notes
        .info
          =link_to patch.username, user_path(patch.user), { class: :username }
          %br/
          .date= patch.created_at.strftime("%B #{patch.created_at.day.ordinalize}, %Y" )
