VS.MidiOut = ->
  scope = @
  @supported
  @output
  @channel
  @playingNote

  @ready = ->
    @output != undefined and @channel != undefined

  @changeChannel = (element) ->
    @channel = $(element).val()
    return

  @changeOutput = (element) ->
    @output = WebMidi.getOutputByName($(element).val())
    return

  @updateForm = ->
    return unless @supported and WebMidi.outputs.length > 0
    items = '<option>Midi Device</option>'
    $(WebMidi.outputs).each ->
      items += '<option value="' + @name + '">' + @name + '</option>'
      return
    $('#midi-device').html(items)
    $('#midi-device option:eq(1)').attr('selected', 'selected')
    @changeOutput($('#midi-device option:eq(1)'))
    $('#midi-channel option:eq(1)').attr('selected', 'selected')
    @changeChannel($('#midi-channel option:eq(1)'))
    $('#midi-output').removeClass('hidden')
    $('.midi-enabled').css('border', 'lightgreen solid')
    $('#enable-web-midi').hide()
    $('#midi-only-panel').removeClass('hidden')
    return

  @enableSync = ->
    return unless @ready()
    $('#sync').removeClass('disabled')
    return

  @init = ->
    WebMidi.enable (err) ->
      return if err
      scope.supported = true
      scope.updateForm()
      scope.enableSync()
      return
    return

  @init()

  @syncMidi = ->
    return unless @ready()
    $('.knob').each ->
      scope.output.sendControlChange(
        $(this).data('control-number'),
        $(this).data('midi'),
        scope.channel
      )
      return
    return

  @playNote = (note) ->
    return unless @ready() && @playingNote != note
    @output.stopNote(@playingNote) if @playingNote != undefined
    @output.playNote(note)
    @playingNote = note
    return

  @stopNote = ->
    return unless @ready() && @playingNote != undefined
    @output.stopNote(@playingNote)
    @playingNote = undefined
    return

  $('#midi-device').change ->
    scope.changeOutput(this)
    scope.enableSync()
    return

  $('#midi-channel').change ->
    scope.changeChannel(this)
    scope.enableSync()
    return

  $('#sync').on 'click tap', ->
    scope.syncMidi()
    return
  return
