/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$width: 1800;
$height: 1072;
$aspect: 1800 / 1072 / 100;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.stretchy {
  padding-bottom: percentage(1 / $aspect / 100);
  position: relative
}

.volca {
  width: 100%;
  height: 100%;
  background-image: image_url('VolcaBass-xlarge.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.knob {
  border-radius: 50%;
  background-color: #b3b3b5;
  position: absolute;
  border: black solid;
  cursor: ns-resize;
  overflow: hidden;
}

.notch {
  position: absolute;
  background-color: black;
  width: 8%;
  height: 25%;
  left: 46%;
}

.small {
  width: 3.6%;
  height: percentage(3.6 * $aspect);
  background-color: #fd9994;
}

.medium {
  width: 6.2%;
  height: percentage(6.2 * $aspect);
}

.large {
  width: 10.5%;
  height: percentage(10.5 * $aspect);
}

.eg {
  top: 14.15%;
}

#attack {
  left: 34.875%;
}

#decay-release {
  left: 43.9%;
}

#eg-cutoff {
  left: 52.915%;
}

#peak {
  top: 35%;
  left: 16.25%;
}

#cutoff {
  top: 31.5%;
  left: 26.5%;
}

.lfo {
  top: 35%;
}

#lfo-rate {
  left:41.25%;
}

#lfo-int{
  left: 52.5%;
}

.vco {
  top: 37.2%;
}

#vco1 {
  left: 62.9%;
}

#vco2 {
  left: 71.9%;
}

#vco3 {
  left: 80.9%;
}

.bottom-row {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 3.187%;
  padding-left: 5%;
  input[type="radio"], input[type="checkbox"]  {
    display:none;
  }
  label {
    float: none;
    display: inline;
  }
  input[type="radio"] + label span, input[type="checkbox"] + label span  {
      float:left;
      display:inline-block;
      width:2%;
      height:100%;
      border-radius: 50%;
      background-color: #fd9994;
      margin: 0 1.97%;
      border: black solid;
      cursor: pointer;
  }
}
