/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$width: 1800;
$height: 1072;
$aspect: 1800 / 1072 / 100;
$pink: #fd9994;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.hidden {
  display: none;
}

.container .text-muted {
  margin: 20px 0;
}

.stretchy {
  padding-bottom: percentage(1 / $aspect / 100);
  position: relative
}

.volca {
  width: 100%;
  height: 100%;
  background-image: image_url('VolcaBass-xlarge.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#patch_form {
  .knob {
    cursor: ns-resize;
  }
}

.knob {
  border-radius: 50%;
  background-color: #b3b3b5;
  position: absolute;
  border: black solid;
  overflow: hidden;
}


.notch {
  position: absolute;
  background-color: black;
  width: 8%;
  height: 25%;
  left: 46%;
}

.small {
  width: 3.6%;
  height: percentage(3.6 * $aspect);
  background-color: $pink;
}

.medium {
  width: 6.2%;
  height: percentage(6.2 * $aspect);
}

.large {
  width: 10.5%;
  height: percentage(10.5 * $aspect);
}

.eg {
  top: 14.15%;
}

#attack {
  left: 34.875%;
}

#decay_release {
  left: 43.9%;
}

#cutoff_eg_int {
  left: 52.915%;
}

#peak {
  top: 35%;
  left: 16.25%;
}

#cutoff {
  top: 31.5%;
  left: 26.5%;
}

.lfo {
  top: 35%;
}

#lfo_rate {
  left:41.25%;
}

#lfo_int{
  left: 52.5%;
}

.vco {
  top: 37.2%;
  background-color: #d6d7dc;
}

#vco1_pitch {
  left: 62.9%;
}

#vco2_pitch {
  left: 71.9%;
}

#vco3_pitch {
  left: 80.9%;
}

#led {
  top: 49%;
  left: 5.2%;
  width: 16.5%;
  height: 13.7%;
  position: absolute;
  background-color: #141414;
}

.digit {
  background-image: image_url('numbers.jpg');
  background-repeat: no-repeat;
  width: 18.5%;
  height: 100%;
  display: inline-block;
  margin: 0;
  background-size: 1120%;
  position: absolute;
  top: 14%;
}

#thousands {
  background-position: 99.5% 0;
  left: 5%;
}

#hundreds {
  background-position: 40% 0;
  left: 30%;
}

#tens {
  background-position: 20% 0;
  left: 53%;
}

#ones {
  background-position: 0 0;
  left: 75%;
}

.button {
  width: 6.4%;
  height: 6%;
  position: absolute;
  top: 54.5%;
  background-color: #d6d7dc;
  border: solid black;
  cursor: pointer;
}

#vco1_active_button {
  left: 61.5%;
}

#vco2_active_button {
  left: 70.6%;
}

#vco3_active_button {
  left: 79.6%;
}

.lit {
  background-color: $pink !important;
}

.bottom-row {
  position: absolute;
  top: 83%;
  width: 100%;
  height: 13%;
  padding-left: 5%;
  input[type="radio"], input[type="checkbox"]  {
    display:none;
  }
  label {
    float: none;
    display: inline;
    span {
      width: 5.6%;
      height: 89%;
      position: relative;
      display: inline-block;
      cursor: pointer;

      .light {
        width: 36%;
        height: 26%;
        border-radius: 50%;
        background-color: gray;
        top: 57%;
        left: 31%;
        border: black solid;
        position: absolute;
      }
    }
  }
}

.patches {
  .wrapper {
    .image, .patch, .info {
      display: inline-block;
      vertical-align: top;
    }

    .image {
      width: 100px;
      height: 100px;
      background-image: image_url('patch-image.png');
      float: left
    }

    .patch {
      width: 330px;
      float: left;
      margin: 0 0 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info {
      width: 100px;
      padding: 1px 1px 1px 5px;
      float: right;
      border-left: 1px solid #d6d6d6;
    }

    width: 540px;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.edit_glyph {
  background-image: image_url('edit.png');
  width: 20px;
  height: 20px;
  background-size: 100%;
}
