/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-tagsinput
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$width: 1800;
$height: 1072;
$aspect: 1800 / 1072 / 100;
$pink: #fd9994;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  .bmab {
    position: relative;
    height:25px;
    margin: 0 0 5px 0;
    span {
      position: absolute;
      bottom: 0px;
    }
    .bmab-button {
      left: 216px;
      img {
        height: 25px;
      }
    }
  }
}

.hidden {
  display: none;
}

.container .text-muted {
  margin: 20px 0;
}

#new-patch {
  margin: 6px 0 0 0;
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
#new-patch:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
#new-patch:active {
	position:relative;
	top:1px;
}


.stretchy {
  padding-bottom: percentage(1 / $aspect / 100);
  position: relative;
  max-width: 830px;
}

.volca {
  width: 100%;
  height: 100%;
  background-image: image_url('VolcaBass-xlarge.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width:830px;
}

.knob {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  cursor: ns-resize;
}

.notch {
  position: absolute;
  width: 8%;
  height: 25%;
  left: 46%;
}

.volca {
  .knob {
    background-color: #b3b3b5;
    border: black solid;
  }

  .notch {
    background-color: black;
  }

  .small {
    width: 3.6%;
    height: percentage(3.6 * $aspect);
    background-color: $pink;
  }

  .medium {
    width: 6.2%;
    height: percentage(6.2 * $aspect);
  }

  .large {
    width: 10.5%;
    height: percentage(10.5 * $aspect);
  }

  .eg {
    top: 14.15%;
  }

  #attack {
    left: 34.875%;
  }

  #decay_release {
    left: 43.9%;
  }

  #cutoff_eg_int {
    left: 52.915%;
  }

  #octave {
    left: 4.4%;
    top: 35%;
  }

  #peak {
    top: 35%;
    left: 16.25%;
  }

  #cutoff {
    top: 31.5%;
    left: 26.5%;
  }

  .lfo {
    top: 35%;
  }

  #lfo_rate {
    left:41.25%;
  }

  #lfo_int{
    left: 52.5%;
  }

  .vco {
    top: 37.2%;
    background-color: #d6d7dc;
  }

  #vco1_pitch {
    left: 62.9%;
  }

  #vco2_pitch {
    left: 71.9%;
  }

  #vco3_pitch {
    left: 80.9%;
  }

  #led {
    top: 49%;
    left: 5.2%;
    width: 16.5%;
    height: 13.7%;
    position: absolute;
    background-color: #141414;
  }

  .digit {
    background-image: image_url('numbers.jpg');
    background-repeat: no-repeat;
    width: 18.5%;
    height: 100%;
    display: inline-block;
    margin: 0;
    background-size: 1120%;
    position: absolute;
    top: 14%;
    background-position: 99.5% 0;
  }

  #thousands {
    left: 5%;
  }

  #hundreds {
    left: 30%;
  }

  #tens {
    left: 53%;
  }

  #ones {
    left: 75%;
  }

  .button {
    width: 6.4%;
    height: 6%;
    position: absolute;
    top: 54.5%;
    background-color: #d6d7dc;
    border: solid black;
    cursor: pointer;
    border-radius: 5px;
  }

  #vco1_active_button {
    left: 61.5%;
  }

  #vco2_active_button {
    left: 70.6%;
  }

  #vco3_active_button {
    left: 79.6%;
  }

  .lit {
    background-color: $pink !important;
  }

  .bottom-row {
    position: absolute;
    top: 83%;
    width: 100%;
    height: 13%;
    padding-left: 5%;
    input[type="radio"], input[type="checkbox"]  {
      display:none;
    }
    label {
      float: left;
      width: 5.95%;
      height: 100%;
      display: inline;
      overflow: hidden;
      span {
        width: 89%;
        height: 89%;
        position: relative;
        display: inline-block;
        cursor: pointer;

        .light {
          width: 36%;
          height: 26%;
          border-radius: 50%;
          background-color: gray;
          top: 57%;
          left: 31%;
          border: black solid;
          position: absolute;
        }
      }
    }
  }
}

#midi-only-panel{
  border-radius: 8px;
  overflow: hidden;
  #midi-only-title {
    width: 100%;
    background-color: black;
    .h5 {
      color: lightgreen;
      background-color: black;
      text-align: center;
      margin: 0;
    }
  }
}


.stretchy2 {
  width: 100%;
  position: relative;

  #midi-only-controls {
    background-image: image_url('midi-only-1200.jpg');
    background-size: cover;
    width: 100%;
    background-color: #343436;
    position: absolute;
  	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .knob {
      border-radius: 50%;
      border: lightgreen solid;
      position: absolute;
      box-shadow: 0 0 10px lightgreen;
      .notch {
        background-color: lightgreen;
      }
    }
  }
}



.patches {
  .wrapper {
    .image, .patch, .info {
      display: inline-block;
      vertical-align: top;
    }

    .image {
      width: 100px;
      height: 100px;
      background-image: image_url('patch-image.png');
      float: left
    }

    .secret {
      opacity: 0.5;
    }

    .patch {
      max-width: 490px;
      float: left;
      margin: 0 0 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      .description {
        height: 57px;
      }
    }

    .info {
      width: 100px;
      padding: 1px 1px 1px 5px;
      float: right;
      border-left: 1px solid #d6d6d6;
    }

    min-height: 100px;
    margin: 10px 0 10px 0;
    height: 120px
  }
}

.delete {
  background-image: image_url('delete.png');
}

.delete_form {
  display: inline-block;
  float:left;
}

.edit {
  background-image: image_url('edit.png');
}

.glyph {
  width: 20px;
  height: 20px;
  background-size: 100%;
  display:inline-block;
  border: none;
  background-color: transparent;
  text-indent: -9999em;
  text-transform: uppercase;
  float:left;
}

#midi-output {
  h3 {
    margin-top: 0;
  }
  select {
    display: inline-block;
    width: 20%;
  }
  button {
    float: right;
  }
}

.link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #337ab7
}

.form-detail-actions {
  form {
    display: inline-block;
  }
}

.off-canvas {
  position: absolute;
  left: -9999px;
}

#enable-web-midi {
  float:right;
  margin: 20px auto auto auto
}

#patch-title {
  float:left;
  span, .small {
    display: inline-block;
  }
}

fieldset {
  margin: 10px 0 0 0;
  .field {
    margin: 5px 0 5px 0;
  }
}

@media (min-width: 990px) {
  .stretchy {
    padding-bottom: 52.4%;
    position: relative;
    max-width: 830px;
    .volca {
      margin-left: 53px;
    }
  }
  #patch-metadata {
    margin-left: 53px;
  }
  .patches{
    .wrapper {
      .patch {
        max-width: 240px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .stretchy {
    padding-bottom: 43.4%;
    max-width: 830px;
    .volca {
      margin: 0;
    }
  }

  #patch-metadata {
    margin-left: 0;
  }

  .stretchy2 {
    padding-bottom: 40%;
    #midi-only-controls {
      .knob {
        width: 18.7%;
        height: 47%;
        top: 34%;
      }
      #slide_time {
        left: 11%;
      }
      #expression {
        left: 43%;
      }
      #gate_time {
        left: 73%;
      }

    }
  }
  .patches{
    .wrapper {
      .patch {
        max-width: 340px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #midi-only-panel{
    width: 36.957%;
  }

  .stretchy2 {
    padding-bottom: 40%;

    #midi-only-controls {
      .knob {
        width: 17.28%;
        height: 43.2%;
        top: 36%;
      }
      #slide_time {
        left: 11%;
      }
      #expression {
        left: 43%;
      }
      #gate_time {
        left: 73%;
      }
    }
  }
}

@media (max-width: 768px) {
  #midi-only-panel{
    width: 255px;
  }
}

.tag{
  white-space: nowrap;
  position: relative;
  margin: 0 5px 0 10px;
  display: inline-block;
  height: 20px;
  border-radius: 0 5px 5px 0;
  padding: 0 8px 0 9px;
  background: #cacaca;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #000;
  line-height: 18px;
}
.tag:before{
  position: absolute;
  content: "\25CF";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size: 11px;
  line-height: 0px;
  text-indent: 9px;
  left: -12px;
  width: 1px;
  height: 0px;
  border-right: 12px solid #cacaca;;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;
}



#audio-sample-button{
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 18px;
	cursor: pointer;
  display: inline-block;
}

#audio-sample-button:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

#audio-sample-button:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}
