.alpha {
  color: #999999;
  font-style: italic;
  font-size: 24px;
}

.cooltip {
  border: 2px black solid;
  position: absolute;
  background: #fd9994;
  font-weight: bold;
  top: 49%;
  left: 5.2%;
  width: 16.5%;
  height: 13.7%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: none;
}

.volca.bass.emulator {
  background-image: image_url('VolcaBass-medium-unbranded.jpg');

  #play {
    left: 43.35%;
  }

  .highlight {
    background-color: rgba(0,0,0,0);
    border: 4px solid green;
    box-shadow: 0px 0px 20px lime;
  }
}

#patch-metadata {
  #permalink-link {
    float: left;
  }

  #green-check-mark {
    float: left;
    margin: 5px 10px 7px 10px;
  }
}
