.cooltip {
  border: 2px black solid;
  position: absolute;
  background: #fd9994;
  font-weight: bold;
  top: 49%;
  left: 5.2%;
  width: 16.5%;
  height: 13.7%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: none;
}
