.alpha {
  color: #999999;
  font-style: italic;
  font-size: 24px;
}

.cooltip {
  border: 2px black solid;
  position: absolute;
  background: #fd9994;
  font-weight: bold;
  top: 49%;
  left: 5.2%;
  width: 16.5%;
  height: 13.7%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: none;
}

.volca.bass.emulator {
  background-image: image_url('VolcaBass-medium-unbranded.jpg');

  #play {
    left: 43.35%;
    z-index: 1;
  }

  #experimental {
    background-image: image_url('experimental.png');
    background-size: contain;
    filter: drop-shadow(0px 0px 2px lime) opacity(54%);
    position: absolute;
    left: 49%;
    height: 4.5%;
    width: 1.8%;
    top: 49%;
    transform: rotate(18deg);
  }

  #stop {
    background-color: #333;
    position: absolute;
    left: 46.1%;
    height: 2.3%;
    width: 1.3%;
    top: 51.2%;
  }

  .highlight {
    background-color: rgba(0,0,0,0);
    border: 4px solid green;
    box-shadow: 0px 0px 20px lime;
  }

  .clear-control {
    width: 5%;
    height: 87%;
    position: absolute;
    top: 1%;
    cursor: pointer;
  }

  #clear-slide {
    left: 73%;
  }

  #clear-active-step{
    left: 78.6%;
  }
}

#patch-metadata {
  #permalink-link {
    float: left;
  }

  #green-check-mark {
    float: left;
    margin: 5px 10px 7px 10px;
  }
}
