$aspect: 1800 / 1072 / 100;
$pink: #fd9994;

.mb-3 {
  margin-bottom: 1rem !important;
}

.form {
  .button {
    cursor: pointer;
  }
  .bottom-row {
    label {
      span {
        cursor: pointer;
      }
    }
  }
  .knob {
    cursor: ns-resize;
  }
}

.stretchy {
  padding-bottom: percentage(1 / $aspect / 100);
  position: relative;
  max-width: 830px;

  // NOTE: Keys specific SMALL size
  .volca.keys {
    background-image: image_url('VolcaKeys-small.jpg');
    .first-row {
      top: 17.7%;
    }
    .second-row {
      top: 29.5%;
    }
    .third-row {
      top: 41.3%;
    }
    .vco-column {
      left: 20.6%;
    }
    .vcf-column {
      left: 30.5%;
    }
    .lfo-column {
      left: 40.2%;
    }
    .eg-column {
      left: 50%;
    }
  }
  .volca {
    width: 100%;
    height: 100%;
    background-image: image_url('VolcaBass-small.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width:830px;
    .knob {
      background-color: #b3b3b5;
      border: black solid;
    }

    .notch {
      background-color: black;
    }

    .small {
      width: 7%;
      height: percentage(7 * $aspect);
    }

    .medium {
      width: 9.5%;
      height: percentage(9.5 * $aspect);
    }

    .large {
      width: 13.5%;
      height: percentage(13.5 * $aspect);
    }

    .eg {
      top: 11.15%
    }

    #decay_release {
      left: 42.2%;
    }

    #cutoff_eg_int {
      left: 51.2%;
    }

    #octave {
      left: 2.8%;
      top: 32.5%;
    }

    .lfo {
      top: 32.4%;
    }

    #lfo_rate {
      left:39.6%;
    }

    #lfo_int{
      left: 50.9%;
    }

    .vco {
      top: 35.2%;
    }

    #vco1_pitch {
      left: 61.3%;
    }

    #vco2_pitch {
      left: 70.3%;
    }

    #vco3_pitch {
      left: 79.3%;
    }

    #led {
      top: 49%;
      left: 5.2%;
      width: 16.5%;
      height: 13.7%;
      position: absolute;
      background-color: #141414;
    }

    .digit {
      background-image: image_url('numbers.jpg');
      background-repeat: no-repeat;
      width: 18.5%;
      height: 100%;
      display: inline-block;
      margin: 0;
      background-size: 1120%;
      position: absolute;
      top: 14%;
      background-position: 99.5% 0;
    }

    #thousands {
      left: 5%;
    }

    #hundreds {
      left: 30%;
    }

    #tens {
      left: 53%;
    }

    #ones {
      left: 75%;
    }

    .button {
      width: 6.4%;
      height: 6%;
      position: absolute;
      top: 54.5%;
      background-color: #d6d7dc;
      border: solid black;
      border-radius: 5px;
    }

    #vco1_active_button {
      left: 61.5%;
    }

    #vco2_active_button {
      left: 70.6%;
    }

    #vco3_active_button {
      left: 79.6%;
    }

    .bottom-row {
      position: absolute;
      top: 69%;
      width: 100%;
      height: 28%;
      padding-left: 5%;
      input[type="radio"], input[type="checkbox"]  {
        display:none;
      }
      label {
        float: left;
        width: 5.95%;
        height: 100%;
        display: inline;
        overflow: hidden;
        span {
          width: 89%;
          height: 89%;
          position: relative;
          display: inline-block;
          .note-light {
            position: absolute;
            height: 14%;
            width: 40%;
            border-radius: 50%;
            top: 7%;
            left: 35%;
            border: 1px solid black;
            display: none;
          }
          .light {
            width: 73%;
            height: 25%;
            border-radius: 50%;
            background-color: dimgray;
            top: 80%;
            left: 16%;
            border: 1px black solid;
            position: absolute;
          }
        }
      }
    }
  }

  // NOTE: Bass specific SMALL size
  .volca.bass {
    // TODO: Move bass specific stuff here
    #attack {
      left: 33.3%;
    }

    #cutoff {
      top: 28.8%;
      left: 25%;
    }

    #peak {
      top: 32.45%;
      left: 14.6%;
    }
  }
}


.knob {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  .notch {
    position: absolute;
    width: 8%;
    height: 25%;
    left: 46%;
  }
}

.knob.unlit {
  background-color: #d6d7dc !important;
}

.lit {
  background-color: $pink !important;
}

.form-control-lg {
  display: block;
  margin: 20px 0 10px 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 36px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.bootstrap-tagsinput {
  width: 100%;
}

#midi-only-panel{
  border-radius: 8px;
  overflow: hidden;
  width: 255px;
  #midi-only-title {
    width: 100%;
    background-color: black;
    .h5 {
      color: lightgreen;
      background-color: black;
      text-align: center;
      margin: 0;
    }
  }
}

#midi-output {
  h3 {
    margin-top: 0;
  }
  select {
    display: inline-block;
    width: 20%;
  }
  button {
    float: right;
  }
}

#patch-metadata {
  padding: 0;
}

#randomize {
  background-image: image_url('randomize.png');
  background-repeat: no-repeat;
  background-size: 79%;
  background-position-x: 3px;
  background-position-y: 2px;
  width: 34px;
  height: 34px;
}

#save_or_cancel {
  padding: 10px 0;
}

#patch-title {
  float:left;
  span, .small {
    display: inline-block;
  }
}

#interface {
  padding: 0;
}

.stretchy2 {
  width: 100%;
  position: relative;
  padding-bottom: 40%;
  #midi-only-controls {
    background-image: image_url('midi-only-1200.jpg');
    background-size: cover;
    width: 100%;
    background-color: #343436;
    position: absolute;
  	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .knob {
      border-radius: 50%;
      border: lightgreen solid;
      position: absolute;
      box-shadow: 0 0 10px lightgreen;
      width: 17.28%;
      height: 43.2%;
      top: 36%;
      .notch {
        background-color: lightgreen;
      }
    }
    #slide_time {
      left: 11%;
    }
    #expression {
      left: 43%;
    }
    #gate_time {
      left: 73%;
    }
  }
}

fieldset {
  margin: 10px 0 0 0;
  .field {
    margin: 5px 0 5px 0;
  }
}

@media (min-width: 440px) {
  .stretchy {
    .volca {
      background-image: image_url('VolcaBass-medium.jpg');
    }
    .volca.keys {
      .dark {
        left: 8.2%;
        width: 7.7%;
        height: percentage(7.7 * $aspect);
        background-color: #333;
        .notch {
          background-color: #ddd;
          height: 23%;
        }
      }

      .bottom-row {
        padding-left: 5%;
        .placeholder {
          float: left;
          height: 100%;
          width: 5.95%;
        }
      }

      #voice {
        top: 20.5%;
      }
      #octave {
        left: 8.2%;
        top: 40.5%;
      }
      #delay-time {
        top: 28.2%;
        left: 62.9%;
      }
      #delay-feedback {
        top: 28.2%;
        left: 71.8%;
      }
      background-image: image_url('VolcaKeys-medium-shopped.jpg');
    }
  }
  .bottom-row {
    label {
      span {
        .light {
          border: 2px black solid;
          height: 25%;
          top: 80%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .stretchy {
    .volca {
      .small {
        width: 3.6%;
        height: percentage(3.6 * $aspect);
      }
      .medium {
        width: 6.2%;
        height: percentage(6.2 * $aspect);
      }
      .large {
        width: 10.5%;
        height: percentage(10.5 * $aspect);
      }
      .eg {
        top: 14.15%;
      }
      #decay_release {
        left: 43.9%;
      }
      #cutoff_eg_int {
        left: 52.915%;
      }
      #octave {
        left: 4.4%;
        top: 35%;
      }
      .lfo {
        top: 35%;
      }

      #lfo_rate {
        left:41.25%;
      }

      #lfo_int{
        left: 52.5%;
      }
      .vco {
        top: 37.2%;
      }
      #vco1_pitch {
        left: 62.9%;
      }
      #vco2_pitch {
        left: 71.9%;
      }

      #vco3_pitch {
        left: 80.9%;
      }
      .bottom-row {
        label {
          span {
            .note-light {
              border: solid black;
            }
            .light {
              border: black solid;
              width: 47%;
              height: 16%;
              top: 81%;
              left: 30%;
            }
          }
        }
      }
    }
    .volca.bass {
      // TODO: Move Bass specific stuff here
      #attack {
        left: 34.875%;
      }

      #cutoff {
        top: 31.5%;
        left: 26.5%;
      }

      #peak {
        top: 35%;
        left: 16.25%;
      }
    }
  }
}

@media (min-width: 990px) {
  .stretchy {
    padding-bottom: 52.685%;
    max-width: 830px;
    .volca {
      margin-left: 53px;
    }
  }
  #interface {
    fieldset {
      margin-left: 53px;
    }
  }
  #patch-metadata, #save_or_cancel {
    margin-left: 53px;
  }
}

@media (min-width: 1200px) {
  .stretchy {
    width: 100%;
    padding-bottom: 57.923%;
    .volca {
      margin: 0;
    }
  }
  #interface {
    fieldset {
      margin-left: 0px;
    }
  }
  #midi-only-panel{
    width: 100%;
  }

  #patch-metadata {
    margin-left: 0;
    .sample {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #save_or_cancel {
    margin-left: 0
  }

  .stretchy2 {
    #midi-only-controls {
      .knob {
        width: 18.7%;
        height: 47%;
        top: 34%;
      }
    }
  }
}
