$aspect: 1800 / 1072 / 100;
$pink: #fd9994;

.stretchy {
  padding-bottom: percentage(1 / $aspect / 100);
  position: relative;
  max-width: 830px;
}

.volca {
  width: 100%;
  height: 100%;
  background-image: image_url('VolcaBass-xlarge.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width:830px;
}

.knob {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  cursor: ns-resize;
}

.notch {
  position: absolute;
  width: 8%;
  height: 25%;
  left: 46%;
}

.lit {
  background-color: $pink !important;
}

.volca {
  .knob {
    background-color: #b3b3b5;
    border: black solid;
  }

  .notch {
    background-color: black;
  }

  .small {
    width: 3.6%;
    height: percentage(3.6 * $aspect);
    background-color: $pink;
  }

  .medium {
    width: 6.2%;
    height: percentage(6.2 * $aspect);
  }

  .large {
    width: 10.5%;
    height: percentage(10.5 * $aspect);
  }

  .eg {
    top: 14.15%;
  }

  #attack {
    left: 34.875%;
  }

  #decay_release {
    left: 43.9%;
  }

  #cutoff_eg_int {
    left: 52.915%;
  }

  #octave {
    left: 4.4%;
    top: 35%;
  }

  #peak {
    top: 35%;
    left: 16.25%;
  }

  #cutoff {
    top: 31.5%;
    left: 26.5%;
  }

  .lfo {
    top: 35%;
  }

  #lfo_rate {
    left:41.25%;
  }

  #lfo_int{
    left: 52.5%;
  }

  .vco {
    top: 37.2%;
    background-color: #d6d7dc;
  }

  #vco1_pitch {
    left: 62.9%;
  }

  #vco2_pitch {
    left: 71.9%;
  }

  #vco3_pitch {
    left: 80.9%;
  }

  #led {
    top: 49%;
    left: 5.2%;
    width: 16.5%;
    height: 13.7%;
    position: absolute;
    background-color: #141414;
  }

  .digit {
    background-image: image_url('numbers.jpg');
    background-repeat: no-repeat;
    width: 18.5%;
    height: 100%;
    display: inline-block;
    margin: 0;
    background-size: 1120%;
    position: absolute;
    top: 14%;
    background-position: 99.5% 0;
  }

  #thousands {
    left: 5%;
  }

  #hundreds {
    left: 30%;
  }

  #tens {
    left: 53%;
  }

  #ones {
    left: 75%;
  }

  .button {
    width: 6.4%;
    height: 6%;
    position: absolute;
    top: 54.5%;
    background-color: #d6d7dc;
    border: solid black;
    cursor: pointer;
    border-radius: 5px;
  }

  #vco1_active_button {
    left: 61.5%;
  }

  #vco2_active_button {
    left: 70.6%;
  }

  #vco3_active_button {
    left: 79.6%;
  }

  .bottom-row {
    position: absolute;
    top: 83%;
    width: 100%;
    height: 13%;
    padding-left: 5%;
    input[type="radio"], input[type="checkbox"]  {
      display:none;
    }
    label {
      float: left;
      width: 5.95%;
      height: 100%;
      display: inline;
      overflow: hidden;
      span {
        width: 89%;
        height: 89%;
        position: relative;
        display: inline-block;
        cursor: pointer;

        .light {
          width: 36%;
          height: 26%;
          border-radius: 50%;
          background-color: gray;
          top: 57%;
          left: 31%;
          border: black solid;
          position: absolute;
        }
      }
    }
  }
}

.form-control-lg {
  display: block;
  margin: 20px 0 10px 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 36px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.bootstrap-tagsinput {
  width: 100%;
}


#midi-only-panel{
  border-radius: 8px;
  overflow: hidden;
  #midi-only-title {
    width: 100%;
    background-color: black;
    .h5 {
      color: lightgreen;
      background-color: black;
      text-align: center;
      margin: 0;
    }
  }
}

#midi-output {
  h3 {
    margin-top: 0;
  }
  select {
    display: inline-block;
    width: 20%;
  }
  button {
    float: right;
  }
}

#enable-web-midi, #randomize {
  float:right;
  margin: 20px auto auto 10px
}

#randomize {
  background-image: image_url('randomize.png');
  background-repeat: no-repeat;
  background-size: 79%;
  background-position-x: 3px;
  background-position-y: 2px;
  width: 34px;
  height: 34px;
}

#patch-title {
  float:left;
  span, .small {
    display: inline-block;
  }
}


.stretchy2 {
  width: 100%;
  position: relative;

  #midi-only-controls {
    background-image: image_url('midi-only-1200.jpg');
    background-size: cover;
    width: 100%;
    background-color: #343436;
    position: absolute;
  	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .knob {
      border-radius: 50%;
      border: lightgreen solid;
      position: absolute;
      box-shadow: 0 0 10px lightgreen;
      .notch {
        background-color: lightgreen;
      }
    }
  }
}

fieldset {
  margin: 10px 0 0 0;
  .field {
    margin: 5px 0 5px 0;
  }
}

@media (min-width: 990px) {
  .stretchy {
    padding-bottom: 52.4%;
    position: relative;
    max-width: 830px;
    .volca {
      margin-left: 53px;
    }
  }
  #patch-metadata {
    margin-left: 53px;
  }
}

@media (min-width: 1200px) {
  .stretchy {
    padding-bottom: 43.4%;
    max-width: 830px;
    .volca {
      margin: 0;
    }
  }

  #patch-metadata {
    margin-left: 0;
    .sample {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .stretchy2 {
    padding-bottom: 40%;
    #midi-only-controls {
      .knob {
        width: 18.7%;
        height: 47%;
        top: 34%;
      }
      #slide_time {
        left: 11%;
      }
      #expression {
        left: 43%;
      }
      #gate_time {
        left: 73%;
      }

    }
  }
}

@media (max-width: 1200px) {
  #midi-only-panel{
    width: 36.957%;
  }

  .stretchy2 {
    padding-bottom: 40%;

    #midi-only-controls {
      .knob {
        width: 17.28%;
        height: 43.2%;
        top: 36%;
      }
      #slide_time {
        left: 11%;
      }
      #expression {
        left: 43%;
      }
      #gate_time {
        left: 73%;
      }
    }
  }
}

@media (max-width: 768px) {
  #midi-only-panel{
    width: 255px;
  }
}
