// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  .bmab {
    position: relative;
    height:25px;
    margin: 0 0 5px 0;
    span {
      position: absolute;
      bottom: 0px;
    }
    .bmab-button {
      left: 216px;
      img {
        height: 25px;
      }
    }
  }
}

.hidden {
  display: none;
}

.container .text-muted {
  margin: 20px 0;
}

#new-patch {
  margin: 6px 0 0 0;
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
#new-patch:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
#new-patch:active {
	position:relative;
	top:1px;
}

.link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #337ab7
}

.form-detail-actions {
  form {
    display: inline-block;
  }
}

.off-canvas {
  position: absolute;
  left: -9999px;
}

.tag{
  white-space: nowrap;
  position: relative;
  margin: 0 5px 0 10px;
  display: inline-block;
  height: 20px;
  border-radius: 0 5px 5px 0;
  padding: 0 8px 0 9px;
  background: #cacaca;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #000;
  line-height: 18px;
}
.tag:before{
  position: absolute;
  content: "\25CF";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size: 11px;
  line-height: 0px;
  text-indent: 9px;
  left: -12px;
  width: 1px;
  height: 0px;
  border-right: 12px solid #cacaca;;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;
}

#login, #sign-up {
  max-width: 300px;
}

@media(min-width: 990px) {
  #sign-up {
    border-left: 1px solid #d8d8d8;
  }
}

.auth-container {
  margin: 0 auto;
  width: 570px;
}
