#synth_name_button {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
}

#name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 #new_bass_patch, #new_keys_patch {
     background: #b0b0b0;
 }

.thinking {
  color: #999;
  font-size: 24px;
}

.generate_name {
  background-image: image_url('generate-button.png');
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}
