!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }/
    %title= [@title, 'VolcaShare'].compact.join(' | ')
    = stylesheet_link_tag 'sandbox_poc', media: 'all'
    = csrf_meta_tags
  %body.sandbox-poc
    = yield
